[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
"bs4" = "*"
flask = "*"

[requires]
python_version = "3.6"

[scripts]
parser = "python parser.py"
