<!doctype html>
<html lang="en">

<head>
  <meta name="description" content="This website reflects content of patria.md. 
    pirata.md provides movies schedule in Chishinau cinema theaters
    Here you get all the info you need in one place.">
  <meta name="author" content="Ilya Tribusean">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>patria.md schedule in english. Movies in Chishinau in English</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .jumbotron {
      margin-bottom: 0;
    }
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <main role="main">

    <section class="jumbotron text-left">
      <div class="container">
        <h1 class="jumbotron-heading">Mirror for patria.md</h1>
        <p class="lead text-muted text-left">Simple schedule for films in English that are playing on right now in Patria Chishinau.
        <br> mirrored website - patria.md</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% if upcoming%}
          <div class="col-md-12">
              <h2>Coming soon:</h2>
          </div>
          
            {% for movie in upcoming %}
            <div class="col-md-12">
              <div class="card mb-2 shadow-sm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2">
                      {% if 'cover url' in movie['meta'] %}
                          <img class="bd-placeholder-img card-img-top" style="width: 100px" src="{{ movie['meta']['cover url'] }}"
                            focusable="false" role="img" aria-label="Placeholder: {{ movie['meta']['canonical title'] }}">
                      {% endif %}
                      <div class="d-flex justify-content-between align-items-center">
                        <table>
                            {% if 'rating' in movie['meta'] %}
                                <tr>
                                  <td>
                                      <small class="text-muted"> IMDB rating is {{ movie['meta']['rating'] }}</small>
                                  </td>
                                </tr>
                            {% endif %}
                            {% if movie['meta']['rating'] %}
                                <tr>
                                  <td>
                                      <small class="text-muted"> Runtime:
                                        {{ (movie['meta']['runtimes'][0]|int / 60)|round(0, 'floor')|int|string + 'h' }} 
                                        {{ (movie['meta']['runtimes'][0]|int % 60)|string + 'm' }}
                                      </small>
                                  </td>
                                </tr>
                            {% endif %}
                          {% if 'trailer' in movie['meta'] %}
                            <tr>
                              <td>
                                  <small class="text-muted">
                                    <a role="button" target="_blank" rel="noopener" class="btn btn-light btn-sm" href="{{ movie['meta']['trailer'] }}">watch trailer</a>
                                  </small>
                              </td>
                            </tr>
                          {% endif %}
                          
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h3>{{ movie['title'] }}</h3>
                      {% if 'plot' in movie['meta'] %}
                        <p class="card-text">{{ movie['meta']['plot'][0]|truncate(210) }}</p>
                      {% else %}
                        <p class="card-text"> No description, sorry</p>
                      {% endif %}
                      <span class="badge badge-danger">Realease date: {{ movie['premiere_date'] }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- END OF CARD BODY -->
                </div>
                <!-- END OF CARD -->
              </div>
              <!-- END OF COL-MD-12 -->
            
            {% endfor %}
          {% endif %}
          <div class="col-md-12">
              <h2>Playing right now:</h2>
          </div>
          {% if playing %}
            {% for movie in playing %}
            <div class="col-md-12">
              <div class="card mb-2 shadow-sm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <img class="bd-placeholder-img card-img-top" style="width: 100px" src="{{ movie['meta']['cover url'] }}"
                        focusable="false" role="img" aria-label="Placeholder: {{ movie['meta']['canonical title'] }}">
                      <div class="d-flex justify-content-between align-items-center">
                        <table>
                          {% if 'rating' in movie['meta'] %}
                            <tr>
                              <td>
                                  <small class="text-muted"> IMDB rating is {{ movie['meta']['rating'] }}</small>
                              </td>
                            </tr>
                          {% endif %} 
                          {% if movie['meta']['rating'] %}
                              <tr>
                                  <td>
                                      <small class="text-muted"> Runtime:
                                        {{ (movie['meta']['runtimes'][0]|int / 60)|round(0, 'floor')|int|string + 'h' }} 
                                        {{ (movie['meta']['runtimes'][0]|int % 60)|string + 'm' }}
                                      </small>
                                  </td>
                              </tr>
                          {% endif %} 


                          {% if 'trailer' in movie['meta'] %}
                            <tr>
                              <td>
                                  <small class="text-muted">
                                    <a role="button" target="_blank" rel="noopener" class="btn btn-light btn-sm" href="{{ movie['meta']['trailer'] }}">watch trailer</a>
                                  </small>
                              </td>
                            </tr>
                          {% endif %}

                        </table>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h3>{{ movie['title'] }}</h3>

                      {% if 'plot' in movie['meta'] %}
                        <p class="card-text">{{ movie['meta']['plot'][0]|truncate(210) }}</p>
                      {% else %}
                        <p class="card-text"> No description, sorry</p>
                      {% endif %}

                      <div class="row">
                        <div class="col-sm-6">
                            <table>
                              {% for theater in movie['schedule'] %}
                                {% if theater == 24 %}
                                    <tr><td>Multiplex</td></tr>
                                {% endif %} 
                                {% if theater == 36 %}
                                    <tr><td>Loteanu</td></tr>
                                {% endif %} 
                                {% for time in movie['schedule'][theater] %}
                                    <tr>
                                      <td>
                                        <span class="badge badge-primary">{{ time }}</span>
                                      </td>
                                    </tr>
                                {% endfor %}
                              {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
          <h3> Sorry. There are no movies in english. <br>Time to re-watch your favorite movies at home ^^</h3>
          {% endif %}
          <!-- END OF ROW -->
        </div>
        <!-- END OF CONTAINER -->
      </div>
      <!-- END OF ALBUM -->
    </div>
  </main>

  <footer class="text-muted"></footer>
