<!doctype html>
<html lang="en">

<head>
  <meta name="description" content="This website reflects content of patria.md. 
    pirata.md provides movies schedule in Chishinau cinema. 
    Original side is ugly, cumbersome and full of advertising. 
    Here you get all the info you need in one place.">
  <meta name="author" content="Ilya Tribusean">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>patria.md schedule in english. Movies in Chishinau in English</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .jumbotron {
      margin-bottom: 0;
    }
  </style>
</head>

<body>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Mirror for patria.md</h1>
        <p class="lead text-muted">Simple schedule for films in English that are playing on right now in patria.md</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% if upcoming%}
          <div class="col-md-12">
              <h2>Coming soon:</h2>
          </div>
          
            {% for movie in upcoming %}
            <div class="col-md-12">
              <div class="card mb-2 shadow-sm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <img class="bd-placeholder-img card-img-top" style="width: 100px" src="{{ movie['meta']['cover url'] }}"
                        focusable="false" role="img" aria-label="Placeholder: {{ movie['meta']['canonical title'] }}">
                      <div class="d-flex justify-content-between align-items-center">
                        <table>
                            {% if movie['meta']['rating'] != None %}
                                <tr>
                                  <td>
                                      <small class="text-muted"> IMDB rating is {{ movie['meta']['rating'] }}</small>
                                  </td>
                                </tr>
                            {% endif %}
                            <tr>
                              <td>
                                  <small class="text-muted"> Runtime:
                                    {{ (movie['meta']['runtimes'][0]|int / 60)|round(0, 'floor')|int|string + 'h' }} 
                                    {{ (movie['meta']['runtimes'][0]|int % 60)|string + 'm' }}
                                  </small>
                              </td>
                            </tr>
                          <tr>
                              <td>
                                  <small class="text-muted">
                                    <a role="button" target="_blank" class="btn btn-light btn-sm" href="{{ movie['meta']['trailer'] }}">watch trailer</a>
                                  </small>
                              </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h3>{{ movie['title'] }}</h3>
                      <p class="card-text">{{ movie['meta']['plot'][0]|truncate(210) }}</p>
                      <span class="badge badge-danger">Realease date: {{ movie['premiere_date'] }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- END OF CARD BODY -->
                </div>
                <!-- END OF CARD -->
              </div>
              <!-- END OF COL-MD-12 -->
            
            {% endfor %}
          {% endif %}
          <div class="col-md-12">
              <h2>Playing right now:</h2>
          </div>
          {% if playing %}
            {% for movie in playing %}
            <div class="col-md-12">
              <div class="card mb-2 shadow-sm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <img class="bd-placeholder-img card-img-top" style="width: 100px" src="{{ movie['meta']['cover url'] }}"
                        focusable="false" role="img" aria-label="Placeholder: {{ movie['meta']['canonical title'] }}">
                      <div class="d-flex justify-content-between align-items-center">
                        <table>
                          {% if movie['meta']['rating'] %}
                            <tr>
                              <td>
                                  <small class="text-muted"> IMDB rating is {{ movie['meta']['rating'] }}</small>
                              </td>
                            </tr>
                         {% endif %} 
                          <tr>
                              <td>
                                  <small class="text-muted"> Runtime:
                                    {{ (movie['meta']['runtimes'][0]|int / 60)|round(0, 'floor')|int|string + 'h' }} 
                                    {{ (movie['meta']['runtimes'][0]|int % 60)|string + 'm' }}
                                  </small>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <small class="text-muted">
                                    <a role="button" target="_blank" class="btn btn-light btn-sm" href="{{ movie['meta']['trailer'] }}">watch trailer</a>
                                  </small>
                              </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h3>{{ movie['title'] }}</h3>
                      <p class="card-text">{{ movie['meta']['plot'][0]|truncate(210) }}</p>
                      <div class="row">
                        <div class="col-sm-6">
                            <table>
                              {% for time in movie['schedule'] %}
                                <tr>
                                  <td>
                                    <span class="badge badge-primary">{{ time }}</span>
                                  </td>
                                </tr>
                              {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
          <h3> Sorry. There are no movies in english. <br>Time to re-watch your favorite movies at home ^^</h3>
          {% endif %}
          <!-- END OF ROW -->
        </div>
        <!-- END OF CONTAINER -->
      </div>
      <!-- END OF ALBUM -->
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <div class="row">
        <div class="com-md-12">
          <p>
            <!-- <a role="button" target="_blank" class="btn btn-outline-dark" href="https://www.google.com/search?q=movies+in+chisinau&npsic=0&rflfq=1&rlha=0&rllag=47015413,28834314,1354&tbm=lcl&ved=2ahUKEwiX0ve79rjfAhVIJFAKHeMkArsQtgN6BAgEEAQ&tbs=lrf:!2m1!1e2!3sIAE,lf:1,lf_ui:1&rldoc=1#rlfi=hd:;si:;mv:!1m2!1d47.03910999321236!2d28.89302284091798!2m2!1d46.991592108290575!2d28.78487617343751!4m2!1d47.015356336166064!2d28.838949507177745!5i14">view map</a> -->
          </p>
        </div>
      </div>
    </div>
  </footer>
