<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patria.md in english, no bullshit</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Patria.md in english</h1>
          <p class="lead">simple schedule for films in english, <br>
          no bullshit UI, no advertising, only info you need</p>

        </div>
        {% if schedule %}
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Title</th>
              </tr>
            </thead>
            <tbody>
              {% for day in schedule %}
                {% for movie in day.movies %}
                  <tr>
                    <td>{{ day.date }}</td>
                    <td>{{ movie.time }}</td>
                    <td>{{ movie.title }}</td>
                  </tr>
                {% endfor %}
                <hr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h1> Sorry, something is broken.<br>
        I can not show the movies righ now, please try again later</h1>
        {% endif %}
      </div>
    </div>

  </body>

</html>